<h1>Bienvenue {{ user.firstname }} {{ user.lastname }} !</h1>

<p>
    Vous venez de vous inscrire sur le site "Find Me A Ref" en tant qu'arbitre.

    Vos coordonnées sont :
     - prénom : {{ user.firstname }}
     - nom : {{ user.lastname }}
     - email : {{ user.email }}
     - rôle : {% for role in user.roles %} {{ role }}{% endfor %}

</p>

<p>
    Pour que votre inscription soit valide, merci de cliquer sur le lien suivant :

    <a href="#">Click here to activate your account</a>

</p>