 <h1>Bienvenue {{ user.firstname }} {{ user.lastname }} !</h1>

<p>
    Vous venez de vous inscrire sur le site "Find Me A Ref" en tant qu'arbitre.

    Vos coordonnées sont :<br>
     - prénom : {{ user.firstname }}<br>
     - nom : {{ user.lastname }}<br>
     - email : {{ user.email }}<br>

</p>

<p>
    Pour que votre inscription soit valide, merci de cliquer sur le lien suivant :

    <a href={{ apiUrl ~ '/api/v1/users/check-account/' ~ user.signUpToken }}>Click here to activate your account</a>

</p>